@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .container {
    @apply max-w-[1240px] min-h-[100vh] mx-auto px-[60px] flex flex-col justify-between
  }
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  max-width: 100vw;
  overflow-x: hidden;
}

.cool-move-animation{
  animation: coolMove 3s infinite ease alternate;
}

@keyframes coolMove {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.up-down-animation{
  animation: upDown 3s infinite ease alternate;
}

@keyframes upDown {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.theme{
  transition: 1s all ease;
}

.theme.dark {
  background-color: #111;
  color: #bbb;
}
.theme.light {
  background-color: white;
  color: #111;
}